@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg: #d7d3ff;
  background-color: var(--bg);
}

main {
  background-color: var(--bg);
  /*   background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
  background-image: url("../../public/bglightfull.webp");
  background-size: 100%;
}

html::-webkit-scrollbar {
  width: 8px;
  height: 1em;
  background-color: #ceb4f4;
}

html::-webkit-scrollbar-thumb {
  width: 2px;
  height: 2em;
  background-color: #6844cc;
}

/* Agrega esta línea al archivo de estilos principal */
@import '@fortawesome/fontawesome-svg-core/styles.css';
