@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: #7e7aa2;
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  background-image: url("../../public/bg-light.svg");
  background-size: 100%,

}